@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.navbar{
  background: rgb(189, 189, 189);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.navbar .logo h1{
  color: black;
  font-size: 1.4rem;
  font-weight: 400;
}
.navbar .item{
  width: 15vw;
  display: flex;
  justify-content: space-around;
}
.navbar .item a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  background: plum;
  padding: 8px 12px;
  border-radius: 1rem;
  border: 1px solid black;
}

