@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
:root{
  --Primary:plum;
  --secondary:black;
  --tertiary:yellow;
  --quartanary:#f1356d;
}
.navbar{
  background: rgb(189, 189, 189);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.navbar .logo h1{
  color: var(--quartanary);
  font-size: 1.8rem;
  font-weight: 400;
}
.navbar .item{
  width: 15vw;
  display: flex;
  justify-content: space-around;
}
.navbar .item a{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  background: plum;
  padding: 8px 12px;
  border-radius: 1rem;
  border: 1px solid black;
  transition: all  0.2s ease;
}
.navbar .item a:hover{
  transform: scale(1.05);
  transition: all  0.2s ease;
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.blog-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid grey;
  transition: 0.2s all ease;
}
.blog-preview:hover{
  transform: scale(1.02);
  box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
}
.blog-preview h2{
  font-size: 1.4rem;
  color: var(--quartanary);
  margin-bottom: 8px;
}
.blog-preview button{
  padding: 6px 8px;
  font-size: 0.8rem;
  font-weight: 400;
  background: var(--quartanary);
  color: white;
  border: 1px solid black;
  outline: none;
}
.blog-preview a{
  text-decoration: none;
  color: inherit;
}